/* 
    Document   : controlStyle1
        -fx-darkest-grey-color: #323232;

*/

.root{
    -fx-font-size: 8.5pt;
    -fx-font-family: "Aharoni",sans-serif;
    -fx-base: #fff;
    -fx-background: #e9ecef;
    -fx-focus-color: #000;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #f8f9fa;
    -fx-border-radius: 0;
    -fx-padding:1px;
    -fx-border-width: 1px;
    -fx-background-insets: 0em;
    -fx-border-insets: 0em;
    -fx-border-radius: 1em;
}

.check-box:selected .mark {
    -fx-background-color: #222;
}
.check-box:selected .box {
    -fx-background-color: #222;
    -fx-border-color: #222;
}
.button{
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-background-color: #2a9fd6;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-min-width: 60;
}

.label {
    -fx-font-size: 9pt;
}

.slider{
    -fx-border-width: 2;
}


